#coordinateDetail {
    width: 900px;
    margin: 30px auto 0 auto;
}

#coordinatePhoto {
    position: relative;
    float: left;
    text-align: center;
    width: 100%;
}

#author {
    width: 100%;
    text-align: right;
}

#author a {
    color: orange;
}

.coordinateButtons {
    text-align: center;
    margin: 20px auto 0 auto;
    position: relative;
    float: left;
    width: 100%;
}

button.favoriteButton {
    font-size: 14px;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
    background-color: #ffac00;
    color: #fff;
    border-style: none;
    margin-bottom: 10px;
}

#coordinateColumn {
    position: relative;
    float: left;
    margin: 0 auto;
    width: 400px;
    height: 100%;
    padding: 10px;
    padding-right: 5px;
    display: inline-block;
}

.itemColumn {
    position: relative;
    float: right;
    width: 470px;
    display: inline-block;
    margin: 20px 0;
}

.itemPhoto {
    position: relative;
    float: left;
    background-color: #fff;
    display: inline-block;
    margin: 5px auto;
}

.itemDetail {
    float: left;
    width: 65%;
    display: inline-block;
    margin-left: 20px;
}

.itemName {
    color: orange;
}

.sizeButtons {
    padding-left: 40px;
}

.sizeButtons label {
    display: block;
    float: left;
    cursor: pointer;
    width: 45px;
    margin: 5px;
    padding: 5px 5px;
    background-color: #bdc3c7;
    color: #444;
    font-size: 14px;
    text-align: center;
}

.sizeButtons input[type="radio"] {
    display: none;
}

.sizeButtons label.selected {
    background-color: darkorange;
    color: #fff;
}

.priceBox {
    clear: both;
    margin-top: 20px;
}

.itemPrice {
    float: left;
}

.buyButton {
    float: right;
    font-size: 14px;
    padding: 5px 10px 5px 10px;
    background-color: #e40;
    color: #fff;
    border-style: none;
    text-decoration: none;
}

.disabled {
    background-color: #bdc3c7;
    color: #444;
}

#buyAll {
    position: relative;
    float: right;
    width: 320px;
    margin: 0;
    text-align: left;
}

.image {
    display: none;
}

.deleteButton {
    font-size: 14px;
    padding: 5px 10px 5px 10px;
    background-color: orangered;
    color: #fff;
    text-decoration: none;
    border-style: none;
}
