#body {
    width: 1000px;
    margin: 0 auto;
}

.left_contents{
    float:left;
    clear: right;
    left: 0;
    width: 150px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}
.left_contents h1{
    text-align: center;
    color: white;
    font-size: large;
    border-bottom: 1px solid white;
}


#profile table{
    margin: 0 auto;
    text-align: center;
    font-size: medium;
}
#profile img{
    width:100px;
    height:100px;
}

#center_contents {
    float:left;
    margin-left: 60px;
    width: 360px;
    text-align: center;
    font-size: medium;    
}
#center_contents h1 {
    text-align: center;
    border-bottom: 1px solid white;
    font-size:large;
}

.list_photo {
    width: 100px;
    margin: 10px;
}

#related_coordinates {
    margin: 0 auto;
}

#right_contents {
    float:left;
    width: 360px;
    margin-left: 60px;
    text-align: center;
    font-size: medium;
}

#right_contents h1 {
    text-align: center;
    border-bottom: 1px solid white;
    font-size:large;
}
