#centerMessage {
	margin: 10px 0 0 0;
	padding: 0;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 30px;
	font-size: 20px;
	text-align: center;
}

#coordinateDetail {
	width: 855px;
	height: 150%;
	position: relative;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}

#coordinatePhoto {
	text-align: center;
}

#favorite {
	text-align: center;
	margin-top: 30px;
}

button.favoriteButton {
	font-size: 14px;
	padding: 5px 10px 5px 10px;
	background-color: #ffac00;
	color: #fff;
	border-style: none;
}

#coordinateColumn {
	float: left;
	width: 45%;
	height: 100%;
	padding: 10px;
	padding-right: 5px;
	display: inline-block;
}

.itemColumn {
	float: left;
	width: 50%;
	padding: 5px;
	padding-left: 5px;
	display: inline-block;
}

.itemPhoto {
	float: left;
	background-color: #fff;
	display: inline-block;
}

.itemDetail {
	float: left;
	width: 65%;
	display: inline-block;
	margin-left: 20px;
}

.sizeButtons {
	width: 100%;
	padding-left: 40px;
}

.sizeButtons input {
	display: none;
}
.sizeButtons label {
	display: block;
	float: left;
	cursor: pointer;
	width: 45px;
	margin: 5px;
	padding: 5px 5px;
	border-right: 1px solid #abb2b7;
	background: #bdc3c7;
	color: #444;
	font-size: 14px;
	text-align: center;
	line-height: 1;
	transition: .2s;
}
.sizeButtons input[type="radio"]:checked + label {
	background-color: #ee4400;
	color: #fff;
}

.itemPrice {
	float: left;
	width: 80%;
	display: inline-block;
	margin-left: 10px;
	margin-top: 20px;
}

.buyButton {
	display: inline-block;
	float: left;
}

button.buyButton {
	font-size: 14px;
	margin-top: 20px;
	padding: 5px 10px 5px 10px;
	background-color: #e40;
	color: #fff;
	border-style: none;
}

#buyAll {
	float: left;
	display: inline-block;
	width: 35%;
	padding-left: 18%;
	border-top: solid 1px #ccc;
	padding-top: 10px;
}

#coordinatePrice {
	float: left;
	display: inline-block;
	margin-left: 10px;
	width: 73%;
}

.image {
    display: none;
}
