[id^="modal_help"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0);
    z-index: 4;
    color: #eee;
    text-align: center;
}

[class^="help_window"] {
    background-color: #444;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 25px 10px 25px;
    display: inline-block;
    position: relative;
}

.help_window_battlecolumn {
    margin: 20%;
}

.help_window_finish_button {
    margin: 3% 0 0 10%;
}

#close_message {
    z-index: 5;
    display:none;
    position: fixed;
    top: 95%;
    right: 5%;
}

[class^="help_window"]:after {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    content: '';
    border-top: 0;
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #444;
    margin: 0 0 0 -10px;
}

#modal_overlay {
    z-index: 3;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
