#body {
    width: 810px;
    margin: 0 auto;
}

.left_contents{
    float:left;
    clear: right;
    left: 0;
    width: 120px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}
.left_contents h1{
    text-align: center;
    color: orange;
    font-size: 15px;
    border-bottom: 1px solid white;
}

#profile table{
    margin: 0 auto;
    text-align: center;
    font-size: medium;
}
#profile img{
    width:100px;
    height:100px;
}

#center_contents {
    float:left;
    margin-left: 20px;
    width: 310px;
    text-align: center;
    font-size: 14px;
}
#center_contents h1 {
    text-align: center;
    border-bottom: 1px solid white;
    font-size:15px;
}

#right_contents {
    float:left;
    margin-left: 20px;
    width: 310px;
    text-align: center;
    font-size: 14px;
}
#right_contents h1 {
    text-align: center;
    border-bottom: 1px solid white;
    font-size:15px;
}

.list_photo {
    width: 80px;
    margin: 10px;
}
.favoritelist_photo {
    width: 80px;
    margin: 10px;
}

#related_coordinates {
    margin: 0 auto;
}

